* {
    --separator-color: #cfcfcf;
}

header {
    background-color: #8e98b5;
}

.header-logo {
    background-color: inherit;
    border-right-color: var(--separator-color);
}

.header-main {
    background-color: inherit;
}

.header-menu {
    background-color: inherit;
    border-left-color: var(--separator-color);
}

.header-link {
    font-weight: bold;
    text-decoration: none;
    color: #fafafa;
    background-color: inherit;
}

.header-link:hover {
    color: #313131;
    background-color: #fafafa;
}