/* This CSS file contains definitions about the positionning, shaping of the elements and alignement.
 * This also includes text formatting since it won't be dependent on the theme.
 * This file is included in the head of every non-error page.
 * We might want to split this file into multiple files (depending on the view) if it gets too big.
 */

#body {
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    width: 300px;
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid;
}

.header-logo img {
    width: 200px;
    height: auto;
    background-color: inherit;
}

.header-main {
    display: inline-flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: right;
    overflow-y: scroll;
}

.header-link {
    margin: 5px;
    text-align: center;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu {
    display: flex;
    width: 200px;
    height: 80%;
    margin-right: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid;
}